
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">		 
  <title>Dashboard</title>
</head>

<body>
<header>
<!-- barra di navigazione --> 
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
		     <div class="container">
			 <img th:src="@{/img/task.png}" alt="task" width="50" />
		            <div class="collapse navbar-collapse" id="navbarSupportedContent">
		                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" th:href="@{/dashboard}">Dashboard</a>
						    </li>
		                    <li class="nav-item">
		                        <a class="nav-link active" aria-current="page" href="#">Servizi</a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link active" href="#">Contatti</a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link active" aria-current="page" href="#">Login</a>
		                    </li>
		                </ul>
		            </div>
		      </div>
	</nav>
</header>


<!--	sezione per prove utente -->
<section class="container p-3">
<div class="border 	border-primary rounded p-4">
	<h2>Sezione dedicata all'User</h2>
		<div class="mb-3 text-end">
			<a class="btn btn-primary" th:href="@{/Admin/insert}">Inserisci nuovo Utente</a>
		</div>
		<div class="mb-3">
			<h4 class="text-center">Elenco Users</h4>
					<table id="table-1" class="table table-striped align-items-center"
										th:unless="${list.isEmpty()}">
										<thead>
											<tr>
												<th class="col-4"> Cognome </th>
												<th class="col-4"> Nome </th>
												<th class="col-4" style="text-align: center;"> Azioni</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user : ${list}">
												<td>
													<span th:text="${user.getCognome()}"></span> 
												</td>
												<td>
													<span th:text=" ${user.getName()}"></span>
												</td>
												<td class="d-flex justify-content-center gap-2">
													<a class="btn btn-primary" style="color: whitesmoke;"
														th:href="@{|/Admin/${user.id}|}"><i class="bi bi-search"></i>
													</a>
													<a class="btn btn-primary" style="color: whitesmoke;"
														th:href="@{|/Admin/edit/${user.id}|}"><i class="bi bi-pencil"></i>
													</a>
													<!--
													<form th:action="@{'/Admin/delete/{id}'(id=${user.id})}"
														method="post">
														<button class="btn btn-danger" type="submit" id="submitButton"
															style=" color: whitesmoke;"
															th:data-confirm-delete="|Sei sicuro di voler cancellare l'Operatore?|"
															onclick="if(!confirm(this.getAttribute('data-confirm-delete'))) return false">
															<i class="bi bi-trash"></i>
														</button>
													</form>
													-->
												</td>
											</tr>
										</tbody>
									</table>			
						<div th:if="${list.isEmpty()}">
							<span> Non sono presenti Utenti nel DataBase </span>
						</div>
		</div>
</div>

</section>
<hr>


<!-- sezione per prove clienti -->
<section class="container p-3">
<div class="border 	border-primary rounded p-4">
	<h2>Sezione dedicata ai clienti</h2>	
	<div class="mb-3 text-end">
					<a class="btn btn-primary" th:href="@{/Clienti/insert}">Inserisci nuovo Cliente</a>
					<a class="btn btn-primary" th:href="@{/Clienti}">Vai alla lista dettagliata Clienti</a>
				</div>
				<div class="mb-3">
					<h4 class="text-center">Elenco Clienti</h4>
							<table id="table-2" class="table table-striped align-items-center"
												th:unless="${clientiList.isEmpty()}">
												<thead>
													<tr>
														<th class="col-4"> Nome Ditta </th>
														<th class="col-4"> Ragione Sociale </th>
														<th class="col-4" style="text-align: center;"> Azioni</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="cliente : ${clientiList}">
														<td>
															<span th:text="${cliente.getName()}"></span> 
														</td>
														<td>
															<span th:text=" ${cliente.getRagioneSociale()}"></span>
														</td>
														<td class="d-flex justify-content-center gap-2">
															<a class="btn btn-primary" style="color: whitesmoke;"
																th:href="@{|/Clienti/${cliente.id}|}"><i class="bi bi-search"></i>
															</a>
															<a class="btn btn-primary" style="color: whitesmoke;"
																th:href="@{|/Clienti/edit/${cliente.id}|}"><i class="bi bi-pencil"></i>
															</a>
															<!--
															<form th:action="@{'/Admin/delete/{id}'(id=${user.id})}"
																method="post">
																<button class="btn btn-danger" type="submit" id="submitButton"
																	style=" color: whitesmoke;"
																	th:data-confirm-delete="|Sei sicuro di voler cancellare l'Operatore?|"
																	onclick="if(!confirm(this.getAttribute('data-confirm-delete'))) return false">
																	<i class="bi bi-trash"></i>
																</button>
															</form>
															-->
														</td>
													</tr>
												</tbody>
											</table>			
								<div th:if="${clientiList.isEmpty()}">
									<span> Non sono presenti Clienti nel DataBase </span>
								</div>
				</div>	
				
				
				
</div>
</section>
<hr>

<!-- sezione dedicata ai progetti -->
<section class="container p-3">
<div class="border 	border-primary rounded p-4">
	<h2>Sezione dedicata ai progetti</h2>
	
	<div class="mb-3">
		 <h4 class="text-center">Elenco dei progetti</h4>
			<table id="table-2" class="table table-striped align-items-center"
				   th:unless="${progettiList.isEmpty()}">
							<thead>
							    <tr>
								  <th class="col-4"> Nome </th>
								  <th class="col-4"> Data inizio </th>
								  <th class="col-4"> Data fine </th>
								  <th class="col-4" style="text-align: center;"> Azioni</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="progetto : ${progettiList}">
									<td> <span th:text="${progetto.getName()}"></span>  </td>
									<td> <span th:text=" ${progetto.getDataInizio()}"></span> </td>
									<td> <span th:text=" ${progetto.getDataFine()}"></span> </td>
									<td class="d-flex justify-content-center gap-2">
										<a class="btn btn-primary" style="color: whitesmoke;"
											th:href="@{|/Progetti/${progetto.id}|}"><i class="bi bi-search"></i>
										</a>
										<a class="btn btn-primary" style="color: whitesmoke;"
											th:href="@{|/Progetti/edit/${progetto.id}|}"><i class="bi bi-pencil"></i>
										</a>
									    <!--
										   <form th:action="@{'/Admin/delete/{id}'(id=${user.id})}" method="post">
											    <button class="btn btn-danger" type="submit" id="submitButton"
												  style=" color: whitesmoke;"
												  th:data-confirm-delete="|Sei sicuro di voler cancellare l'Operatore?|"
												  onclick="if(!confirm(this.getAttribute('data-confirm-delete'))) return false">
												  <i class="bi bi-trash"></i>
												 </button>
											</form>
										-->
									</td>
								</tr>
							 </tbody>
				</table>			
			<div th:if="${progettiList.isEmpty()}">
				<span> Non sono presenti progetti nel DataBase </span>
			</div>
	</div>				
</div>
</section>
<hr>

<!-- sezione dedicata ai task -->
<div class="border 	border-primary rounded p-4">
	<h2>Sezione dedicata ai task</h2>		
</div>
</section>
<hr>

<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>	 