<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<title>AggiornaCliente</title>
</head>
  <body>
	<header>
		<!-- barra di navigazione --> 
					<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				        <div class="container">
					   <img th:src="@{/img/task.png}" alt="task" width="50" />
				            <div class="collapse navbar-collapse" id="navbarSupportedContent">
				                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				                    <li class="nav-item">
				                        <a class="nav-link active" aria-current="page" href="#">Servizi</a>
				                    </li>
				                    <li class="nav-item">
				                        <a class="nav-link active" href="#">Contatti</a>
				                    </li>
				                    <li class="nav-item">
				                        <a class="nav-link active" aria-current="page" href="#">Login</a>
				                    </li>
				                </ul>
				            </div>
				        </div>
				    </nav>
		</header>
	
	<div class="text-center mt-5 mb-5">
		<h1>Modifica i dati del cliente</h1>
	</div>
		
	<div class="container">
		<form class="mx-auto w-50" id="formCliente" th:object="${formCliente}" th:action="@{/index/edit/{id}(id=${formCliente.getId()})}" method="post">
			<div class="form-group mb-2" >
			  <label for="name">Nome del cliente</label>
			  <input type="text" class="form-control" id="name" th:field="*{name}" th:errorClass="is-invalid">
			    <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
			  		<ul>
			  			<li th:each="err: ${#fields.errors('name')}" th:text="${err}"></li>
			  		</ul>
			    </div>
			</div>
				 
			<div class="form-group mb-2"> 
			  <label for="email">Email del cliente</label>
			  <input type="text" class="form-control" id="email" th:field="*{email}" th:errorClass="is-invalid">
			  	<div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
			  		<ul>
			  			<li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
			  		</ul>
			  	</div>
			 </div>	
			  
			<div class="form-group mb-2">			  
			  <label for="telefono">Telefono:</label>
			  <input type="text" class="form-control" id="telefono" th:field="*{telefono}" th:errorClass="is-invalid">
			 	 <div th:if="${#fields.hasErrors('telefono')}" class="invalid-feedback">
			  		 <ul>
			  			 <li th:each="err:${#fields.errors('telefono')}" th:text="${err}"></li>
			  		 </ul>
			  	</div>
			 </div>	 
			 
			 <div class="form-group mb-2">			  
			 	<label for="indirizzo">Indirizzo:</label>
			 	<input type="text" class="form-control" id="indirizzo" th:field="*{indirizzo}" th:errorClass="is-invalid">
			 	    <div th:if="${#fields.hasErrors('indirizzo')}" class="invalid-feedback">
			 			 <ul>
			 			 	<li th:each="err:${#fields.errors('indirizzo')}" th:text="${err}"></li>
			 			 </ul>
			 		</div>
			 </div>
			 			 
			 <div class="form-group mb-2">			  
			 	<label for="indirizzo">Città:</label>
			 	<input type="text" class="form-control" id="città" th:field="*{città}" th:errorClass="is-invalid">
			 		<div th:if="${#fields.hasErrors('città')}" class="invalid-feedback">
			 			 <ul>
			 			 	<li th:each="err:${#fields.errors('città')}" th:text="${err}"></li>
			 			 </ul>
			 		</div>
			 	</div>
			 			 		 
			 	<div class="form-group mb-2">			  
			 		<label for="ragioneSociale">Ragione sociale:</label>
			 		<input type="text" class="form-control" id="ragioneSociale" th:field="*{ragioneSociale}" th:errorClass="is-invalid">
			 			<div th:if="${#fields.hasErrors('ragioneSociale')}" class="invalid-feedback">
			 			     <ul>
			 			 	 	<li th:each="err:${#fields.errors('ragioneSociale')}" th:text="${err}"></li>
			 			 	</ul>
			 			 </div>
			 	</div>		
			 			 
			 	<div class="form-group mb-2">			  
			 		<label for="ragioneSociale">Partita Iva:</label>
			 		<input type="text" class="form-control" id="PartitaIva" th:field="*{partitaIva}" th:errorClass="is-invalid">
			 			 <div th:if="${#fields.hasErrors('partitaIva')}" class="invalid-feedback">
			 			 	<ul>
			 			 		<li th:each="err:${#fields.errors('partitaIva')}" th:text="${err}"></li>
			 			 	</ul>
			 			 </div>
			 	</div>	    	 
						 
			 <button type="submit" class="btn btn-primary"> Aggiorna </button>		  					
		</form>	
	   </div>		
	
	<div class="text-center mt-5">
		<a class="btn btn-primary" th:href="@{/index}"> Torna alla home page </a>
	</div>
	
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>